@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

html,
body,
#root {
  min-height: 100%;
}

body {
  font-family:
    Inter,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  background: #f6f7fb;
  color: #1f2937;
}
html {
  scroll-behavior: smooth;
}
